<!-- @{
    ViewData["Title"] = "Login and Registration";
}

<h1>Register</h1>
<form asp-controller="User" asp-action="register" method="post">
    <label asp-for="firstName"></label>
    <input asp-for="firstName"/>
    <span class='error' asp-validation-for="firstName"></span>
    <label asp-for="lastName"></label>
    <input asp-for="lastName"/>
    <span class='error' asp-validation-for="lastName"></span>
    <label asp-for="email"></label>
    <input asp-for="email"/>
    <span class='error' asp-validation-for="email"></span>
    <label asp-for="password"></label>
    <input asp-for="password"/>
    <span class='error' asp-validation-for="password"></span>
    <label asp-for="confirm"></label>
    <input asp-for="confirm"/>
    <span class='error' asp-validation-for="confirm"></span>
    <br><button type="submit">Register</button>
</form>

<h1>Login</h1>
<form asp-controller="User" asp-action="login" method="post">
    <label asp-for="email"></label>
    <input asp-for="email"/>
    <label asp-for="password"></label>
    <input asp-for="password"/>
    @if(@ViewBag.error !=null ){
        <span class='error'>@ViewBag.error</span>
    }
    <br><button type="submit">Login</button>
</form> -->


@model loginRegistration.Models.User
@using loginRegistration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



    <div class="col-xs-12 errors">
        <h1 class="errors">@if(@TempData["errors"] != "" ){
            <span>@TempData["errors"]</span>
        }
        </h1>
    </div>



<div class="col-xs-6 register">
    <form asp-controller="Home" asp-action="register" method="post" class="form">

        <div class="form-group">
            <span asp-validation-for="firstName"></span>
            <label asp-for="firstName"></label>
            <input class="form-control" asp-for="firstName">
        </div>
        <div class="form-group">
            <span asp-validation-for="lastName"></span>
            <label asp-for="lastName"></label>
            <input class="form-control" asp-for="lastName">
        </div>
        <div class="form-group">
            <span asp-validation-for="email"></span>
            <label asp-for="email"></label>
            <input class="form-control" asp-for="email">
        </div>
        <div class="form-group">
            <span asp-validation-for="password"></span>
            <label asp-for="password"></label>
            <input class="form-control" asp-for="password">
        </div>
        <div class="form-group">
            <span asp-validation-for="passwordConfirmation"></span>
            <label asp-for="passwordConfirmation"></label>
            <input class="form-control" asp-for="passwordConfirmation">
        </div>
                <h1><button type="submit" class="btn btn-alert">Register</button></h1>
    </form>

</div>
<div class="col-xs-6 login">
    <form asp-controller="Home" asp-action="login" method="post" class="form">
        <div class="form-group">
            <span asp-validation-for="email"></span>
            <label asp-for="email"></label>
            <input class="form-control" asp-for="email" name="email">
        </div>
        <div class="form-group">
            <span asp-validation-for="password"></span>
            <label asp-for="password"></label>
            <input class="form-control" asp-for="password" name="password" type="password">
        </div>
        <h1><button type="submit" class="btn btn-alert">Login</button></h1>
    </form>
